<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <span th:fragment="joblist">
        <div th:if="${not #lists.isEmpty(jobs)}">
            <h3 th:utext="${jobs.size() + ' Result(s)'}" style="display:block"></h3>
            <span th:each="job : ${jobs}" th:fragment="joblist">
                <table class="job-listing">
                    <tr th:each="column : ${job}">
                        <td th:text="${#strings.capitalizeWords(column.key)}"></td>
                        <td th:text="${column.value}"></td>
                    </tr>
                </table>
            </span>
        </div>
        <div th:if="${#lists.isEmpty(jobs) and #httpServletRequest.requestURI == '/search/results'}">
            <h3>0 Result(s)</h3>
        </div>
    </span>

</div>

</body>
</html>